<!DOCTYPE html>
<html>

<head>
  <title> DAB - Rent Vehicles</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="../js/common.js"></script>

</head>

<body>
  <%- include('./partials/navbar.ejs', {user: user}) %>
    <div class="container-fluid mt-5">
      <h2 class="p-3 text-center">Vehicles for Rent</h2>
      <div class="list-group">
        <div class="row px-3 py-1 w-100 text-center">
          <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="sqlQuery1()">Popular Vehicle Types</button>
          </span>
          <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="sqlQuery4()">Currently Rented Vehicles</button>
          </span>
          <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="sqlQuery2()">Vehicles requiring service</button>
          </span>
          <span class="col py-1 bg-light ">
            <button class="btn-sm btn-success" onclick="sqlQuery3()">Cruise Control</button>
          </span>
          <span class="col py-1 bg-light ">
            <button class="btn-sm btn-warning" onclick="allVehicles()">All Vehicles</button>
          </span>
        </div>
        <div class="row px-3 py-1 w-100">
          <span class="col py-1 bg-noroff">Id</span>
          <% if (sort === 'rented') { %>
            <span class="col py-1 bg-noroff">Customer Name</span>
          <% } %>
          <span class="col py-1 bg-noroff">Registration No.</span>
          <span class="col py-1 bg-noroff">Make</span>
          <span class="col py-1 bg-noroff">Model</span>
          <span class="col py-1 bg-noroff">Colour</span>
          <span class="col py-1 bg-noroff">Vehicle Type</span>
          <span class="col py-1 bg-noroff">Features</span>
          <span class="col py-1 bg-noroff">Last Service Date</span>
          <span class="col py-1 bg-noroff">Rented</span>
          <span class="col py-1 bg-noroff">Serviceable</span>
          <span class="col py-1 bg-noroff">Options</span>
      </div>      
        <% vehicles.forEach(function(vehicle) { %>
          <div class="row px-3 py-1 w-100">
            <span class="col py-1 bg-light ">
              <%=vehicle.Id%>
            </span>
            <% if (vehicle.CustomerName) { %>
              <span class="col py-1 bg-light"><%= vehicle.CustomerName %></span>
            <% } %>
            <span class="col py-1 bg-light">
              <%=vehicle.RegistrationNo%>
            </span>
            <span class="col py-1 bg-light">
              <%=vehicle.Make%>
            </span>
            <span class="col py-1 bg-light">
              <%=vehicle.Model%>
            </span>
            <span class="col py-1 bg-light">
              <%=vehicle.Colour%>
            </span>
            <span class="col py-1 bg-light">
              <%=vehicle.VehicleType%>
            </span>
            <span class="col-2 py-1 bg-light">
              <%- vehicle.Features %>
            </span>
            <span class="col py-1 bg-light">
              <%=vehicle.LastServiceDate%>
            </span>
            <span class="col py-1 bg-light">
              <%=vehicle.Rented%>
            </span>
            <span class="col py-1 bg-light">
              <%=vehicle.Serviceable%>
            </span>
            <span class="col py-1 bg-light text-center">

              <% if (user && user.RoleId === 2) { %>
                <% if (vehicle.Rented === 'True' || vehicle.Serviceable === 'True') { %>
                  <button type="button" class="btn btn-outline-secondary" aria-disabled="true" disabled>N/A</button>
                <% } else { %>
                  <button class="btn-sm btn-warning" onclick="rentVehicle(<%= user.Id %>, <%= vehicle.Id %>)">Rent</button>
                <% } %>
              <% } else if (user && user.RoleId === 1) { %>
                <% if (vehicle.Rented === 'True') { %>
                  <button class="btn-sm btn-danger" onclick="cancelRental(<%= vehicle.Id %>)">Cancel Rental</button>
                <% } else { %>
                  <button type="button" class="btn btn-outline-secondary" aria-disabled="true" disabled>N/A</button>
                <% } %>
              <% } else { %>
                <button class="btn-sm btn-primary" onclick="window.location.href='/login'">Login</button>
              <% } %>

            </span>
          </div>
          <% }); %>
      </div>
    </div>
</body>

</html>